@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&family=EB+Garamond&family=Golos+Text:wght@500&family=IBM+Plex+Sans:wght@300;400&family=Inter:wght@400&family=Jockey+One&family=Lato:ital@0;1&family=Lobster&family=Martian+Mono:wght@300&family=Montserrat&family=Playfair:ital@1&family=Poppins&family=Roboto+Slab:wght@200;300&family=Roboto:ital,wght@0,300;1,300&family=Source+Serif+4&family=Space+Grotesk&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F4F4;
}
.container {
    width: 99vw;
    height: 100%;
}
.clgname {
    position: relative;
    width: 100%;
    min-height: 180px;
    display: flex;
    align-items: center;
    background-color: #8D4B6E;
    color: #FFFFFF;
    flex-direction: row;
}
.header-right {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px auto ;
}
.clgname .p{
    margin: 3px auto 3px auto;
    font-size: 40px;
    text-align: center;
}
.clgname .span1 {
    margin: 3px auto 3px auto;
    font-size: 22px;
    text-align: center;
}
.clgname .span2 {
    margin: 3px auto 3px auto;
    font-size: 18px;
    text-align: center;
}
.clgname img {
    margin-left: 80px;
}
.navbar {
    width: 100%;
    background-color: #33455F;
    height: 80px;
}
.main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 99vw;
    background-color: #F8F4F4;
    height: 100%;
}
.dropdown {
    position: relative;
    margin: 20px auto;
}
.dropdown button {
    border: none;
    outline: none;
    font-size: 30px;
    font-family: 'Source Serif 4', serif;
    padding: 15px 30px;
    background-color: transparent;
    cursor: pointer;
}
.dropdown-content a {
    color: #33455F;
    padding: 12px 26px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}
.dropdown-content a:hover {
    background-color: #ffffff;
}
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}
.show {
    display: block;
}

.photo-1 {
    width: 80%;
    margin: 10px auto 50px auto;
}
.photo-1 p {
    font-size: 25px;
    font-family: 'Source Serif 4', serif;
}
.line {
    border-top: 1px solid #000000;
    margin: 5px 0;
}
.photo-album-1 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.col-12 {
    max-width: 210px;
    max-height: 175px;
    overflow: hidden;
    margin: 15px;
}
.photo-album-1 img {
    width: 100%;
    height: 100%;
    /* margin: 15px; */
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
}
.photo-album-1 img:hover {
    transform: scale(1.15);
}
@media screen and (max-width: 600px) {
    .clgname {
        position: relative;
        width: 100vw;
        display: flex;
        background-color: #8D4B6E;
        color: #FFFFFF;
        flex-direction: column;
    }
    .clgname .p{
        font-size: 30px;
        width: 100%;
        margin: 0px auto 10px auto;
        display: flex;
        text-align: center;
    }
    .clgname .span1 {
        font-size: 13px;
        text-align: center;
    }
    .clgname .span2 {
        margin: 3px;
        font-size: 13px;
    }
    .col-12 {
        width: 180px;
        max-height: 125px;
        overflow: hidden;
        margin: 5px;
    }
    .clgname img {
        margin-top: 25px;
        width: 180px;
        height: 120px;
        margin-left: 10px;
    }
    .photo-album-1 {
        justify-content: center;
    }
    .photo-album-1 img {
        width: 100%;
        height: 100%;
    }
    .col-12 {
        width: 90%;
        max-height: 155px;
        overflow: hidden;
        margin: 5px;
    }
    .photo-1 {
        width: 80%;
        margin: 10px auto 30px auto;
    }
    .photo-1 p {
        font-size: 16px;
        font-family: 'Source Serif 4', serif;
    }
}