@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&family=EB+Garamond&family=Golos+Text:wght@500&family=IBM+Plex+Sans:wght@300;400&family=Inter:wght@400&family=Jockey+One&family=Lato:ital@0;1&family=Lobster&family=Martian+Mono:wght@300&family=Montserrat&family=Playfair:ital@1&family=Poppins&family=Roboto+Slab:wght@200;300&family=Roboto:ital,wght@0,300;1,300&family=Source+Serif+4&family=Space+Grotesk&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F4F4;
}
.container {
    width: 100vw;
    height: 100%;
}
.clgname {
    position: relative;
    width: 100vw;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8D4B6E;
    color: #FFFFFF;
    flex-direction: column;
}
.clgname p{
    margin: 3px;
    font-size: 40px;
}
.clgname .span1 {
    margin: 3px;
    font-size: 25px;
}
.clgname .span2 {
    margin: 3px;
    font-size: 20px;
}
.clgname img {
    position: absolute;
    left: 10px;
    float: left;
}
.navbar {
    width: 100%;
    background-color: #33455F;
    height: 80px;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #F8F4F4;
    height: 100%;
}
.heading {
    color: #33455F;
    padding: 15px 30px;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Source Serif 4', serif;
}
.img-seminar {
    width: 70%;
    margin: 20px auto;
    height: 350px;
}
.info {
    margin: 50px auto;
    width: 80%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 45px 40px;
}
.info p {
    color: #33455F;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}