@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&family=EB+Garamond&family=Golos+Text:wght@500&family=IBM+Plex+Sans:wght@300;400&family=Inter:wght@400&family=Jockey+One&family=Lato:ital@0;1&family=Lobster&family=Martian+Mono:wght@300&family=Montserrat&family=Playfair:ital@1&family=Poppins&family=Roboto+Slab:wght@200;300&family=Roboto:ital,wght@0,300;1,300&family=Source+Serif+4&family=Space+Grotesk&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F4F4;
}
.container {
    width: 100vw;
    height: 100%;
}
.clgname {
    position: relative;
    width: 100vw;
    min-height: 180px;
    display: flex;
    align-items: center;
    background-color: #8D4B6E;
    color: #FFFFFF;
    flex-direction: row;
}
.header-right {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px auto ;
}
.clgname .p{
    margin: 3px auto 3px auto;
    font-size: 40px;
    text-align: center;
}
.clgname .span1 {
    margin: 3px auto 3px auto;
    font-size: 22px;
    text-align: center;
}
.clgname .span2 {
    margin: 3px auto 3px auto;
    font-size: 18px;
    text-align: center;
}
.clgname img {
    margin-left: 80px;
}
.navbar {
    width: 100%;
    background-color: #33455F;
    height: 80px;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #F8F4F4;
    height: 100%;
}
.heading {
    color: #33455F;
    padding: 15px 30px;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Source Serif 4', serif;
}
.column {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 50px;
}
.line {
    border-top: 1.5px solid #000000;
    margin: 15px 0;
}
.cac {
    margin: auto;
    font-size: 20px;
    color: #33455F;
    font-family: 'Source Serif 4', serif;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}
.left {
    width: 35%;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 30px;
    height: 100%;
    margin-top: 30px;
}
.left p {
    font-size: 17px;
    color: #33455F;
    font-family: 'Source Serif 4', serif;
    padding: 5px 0;
    white-space: pre-line;
    width: 90%;
}
.left button {
    padding: 2px 5px;
    margin: 0 2px;
    width: 30px;
    height: 30px;
}
.right {
    width: 65%;
}
table {
    border-collapse: collapse;
    width: 90%;
    margin: 30px auto;
}
.scroll {
    width: 100%;
    overflow: scroll;
    margin: 0;
}
::-webkit-scrollbar {
    width: 0px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    font-size: 18px;
}
form {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
    outline: none;
    border: none;
    justify-content: center;
    width: 100%;
}
.input {
    height: 35px;
    text-indent: 5px;
}
.input-btn {
    width: 100px;
    height: 35px;
    margin: 5px auto;
}
.btn-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}
  
.button-56:hover {
    outline: 0;
}
.btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 100%;
}

.Add_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    width: 100%;
    margin: auto;
}
.Add_div input {
    height: 30px;
    text-indent: 5px;
}
.form_add_div {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_add_div button {
    padding: 5px 20px;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
}
.point-row {
    display: flex;
    align-items: center;
  }
@media screen and (max-width: 992px) {
    .row {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .left {
        margin: 30px auto 10px auto;
        width: 80%;
        padding: 25px 30px;
    }
    .left p {
        font-size: 16px;
        padding: 4px 0;
    }
    .right {
        margin: 10px auto;
        width: 90%;
    }
    
    td, th {
        text-align: left;
        padding: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .clgname {
        position: relative;
        display: flex;
        background-color: #8D4B6E;
        color: #FFFFFF;
        flex-direction: column;
    }
    .clgname .p{
        font-size: 30px;
        width: 100%;
        margin: 0px auto 10px auto;
        display: flex;
        text-align: center;
    }
    .clgname .span1 {
        font-size: 13px;
        text-align: center;
    }
    .clgname .span2 {
        margin: 3px;
        font-size: 13px;
    }
    .clgname img {
        margin-top: 25px;
        width: 120px;
        height: 120px;
        margin-left: 10px;
    }
    .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    } 
    .left {
        width: 100%;
        border: 1px solid black;
        background-color: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 30px 30px;
        height: 100%;
        margin: 10px auto;
    }
    .left p {
        font-size: 15px;
        color: #33455F;
        font-family: 'Source Serif 4', serif;
    }
    .right {
        width: 100%;
        margin: auto;
    }
    table {
        border-collapse: collapse;
        width: 90%;
        margin: 10px auto 10px auto;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
        font-size: 12px;
    }
}